/* Global styles */
#banner {
	background: #9c9;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	font: small-caps 40px/40px "Time New Roman", serif;
	color: #282;
	text-align: center;
}

#banner img {
	float: left;
}

#columns {
	background: #141;
}

#main {
	margin-left: 17em;
	padding-top: 4ex;
	padding-left: 1em;
	background: white;
}

#side {
	float: left;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
	width: 16em;
	background: #141;
	color: #fff;
}

#side a {
	color: #bfb;
	font-size: small;
}

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

#store .entry form, #store .entry form div {
	display: inline;
}

#store .cart_title {
	font: 120% bold;
}

#store .item_price, #store .total_line {
	text-align: right;
}

#store .total_line .total_cell {
	font-weight: bold;
	border-top: 1px solid #595;
}

#cart, #cart table {
	font-size: smaller;
	color: white;
}

#cart table {
	border-top: 1px dotted #595;
	border-bottom: 1px dotted #595;
	margin-bottom: 10px;
	margin-right: 5px;
}

.depot_form fieldset {
	background: #9c9;
}

.depot_form legend {
	color: #dfd;
	background: #141;
	font-family: sans-serif;
	padding: 0.2em 1em;
}

.depot_form label {
	width: 5em;
	float: left;
	text-align: right;
	padding-top: 1.4em;
	margin-right: 0.1em;
	display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
	margin-left: 1em;
	border-radius: 3px;
	border: none;
	line-height: 1.5em;
}

.depot_form #submit1 { 
	margin-left: 7em;
}

.depot_form #user_submit { 
	margin-left: 7em;
}

.depot_form div {
	margin: 0.5em 0;
}