<% if notice %>
<p id ="notice"><%= notice %>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product| %>
  <div class="entry">
	<%= link_to(image_tag(product.image_url), 
	   			line_items_path(:product_id => product), 
				html_options = {
					:method => "create", 
					:remote => true}
				) %>
	<h3><%= product.title %></h3>
	<%= sanitize product.description %>
	<!-- sanitize allows us to safely add HTML stylings to make the descriptions more interesting for our customers. -->
	<div class="price_line">
		<span class="price"><%= number_to_currency(product.price) %></span>
	<%= button_to 'Add to Cart', line_items_path(
	:product_id => product), 
	:remote => true %>
	</div>
  </div>
<% end %>
